body {
  margin: 0px 40px 0px 40px;
  display: grid;
  grid-template-columns: auto 280px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    sans-serif;
}

#main {
  margin-right: 40px;
  min-width: 1050px;
}

#optional {
  margin-top: 60px;
}

@media screen and (max-width: 800px) {
  #main {
    margin-right: 100px;
  }
  #optional {
    display: none;
  }
  body {
    grid-template-columns: 100%;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  margin: 12px;
}

.button {
  color: #fff;
  background-color: #80deea;
  text-align: center;
  cursor: pointer;
  line-height: 36px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  margin: 0px 10px;
}

.calendar {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.row,
.toprow {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  min-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.row:nth-child(odd) {
  background-color: #e0e0e05d;
}

.droppable {
  display: grid;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  min-width: fit-content;
}

.header-date {
  display: grid;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
  background-color: #bdbdbd;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.calendar-task {
  display: grid;
  align-items: center;
  margin: 1px;
  background-color: #80deea;
}

#backlog {
  display: grid;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

#backlogheader {
  background-color: #bdbdbd;
  height: 60px;
  font-size: large;
  display: grid;
  justify-content: center;
  align-content: center;
}

#search {
  width: inherit;
  font-size: 18px;
}

.backlog-task {
  position: relative;
  cursor: pointer;
  min-height: 40px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: grid;
  align-items: center;
  justify-content: center;
}

.backlog-task:hover {
  background-color: rgb(128, 222, 234);
  align-items: baseline;
  color: black;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.backlog-task:hover::after {
  content: attr(hint);
  position: absolute;
  left: 0;
  bottom: 0;
  text-decoration: transparent;
  text-align: center;
  font-size: 14px;
  padding: 0px 0;
  width: 100%;
}

.backlog-task-dragging {
  background-color: #80deea;
  position: relative;
  width: 8%;
  height: 60px;
  border: 0px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
